<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- 将namespace的值设置为DAO类对应的路径 -->
  <mapper namespace="com.blen.study.studentmanage.dao.StudentInfoMapper">

    <!-- 增加一条数据 -->
    <insert id="addStudent" parameterType="com.blen.study.studentmanage.domain.StudentInfo" keyColumn="id" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO student(name,sex,age,major,grade) VALUES( #{name}, #{sex}, #{age}, #{major}, #{grade})
    </insert>

    <!-- 删除一条数据 -->
    <delete id="deleteStudent" parameterType="long">
        DELETE FROM student WHERE id = #{id}
    </delete>

    <!-- 更新一条数据 -->
    <update id="updateStudent" parameterType="com.blen.study.studentmanage.domain.StudentInfo">
        UPDATE student SET student.name = #{name}, student.sex = #{sex},
        student.age = #{age}, student.major = #{major}, student.grade = #{grade} WHERE student.id = #{id}
    </update>

    <!-- 查询一条数据 -->
    <select id="getStudentInfo" resultMap="resultMap" parameterType="long">
        SELECT * FROM student WHERE s_code = #{s_code}
    </select>

    <resultMap id="resultMap" type="com.blen.study.studentmanage.domain.StudentInfo">
      <id column="s_id" jdbcType="BIGINT" property="is_d"/>
      <id column="s_code" jdbcType="BIGINT" property="s_cose"/>
      <result column="s_name" jdbcType="VARCHAR" property="s_name"/>
      <result column="s_sex" jdbcType="VARCHAR" property="s_sex"/>
      <result column="s_age" jdbcType="BIGINT" property="age"/>
      <result column="classname" jdbcType="VARCHAR" property="classname"/>
    </resultMap>
</mapper>