<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- 将namespace的值设置为DAO类对应的路径 -->
  <mapper namespace="com.blen.student_manage_system.dao.StudentInfoMapper">

    <!-- 增加一条数据 -->
    <insert id="addStudentInfo" parameterType="com.blen.student_manage_system.domain.StudentInfo" keyColumn="s_id" keyProperty="s_id"  useGeneratedKeys="true">
        INSERT INTO student_info(s_code,s_name,s_sex,s_age,classname) VALUES( #{s_code}, #{s_name}, #{s_sex}, #{s_age}, #{classname})
    </insert>

    <!-- 删除一条数据 -->
    <delete id="deleteStudentInfo" parameterType="long">
        DELETE FROM student_info WHERE s_code = #{s_code}
    </delete>

    <!-- 更新一条数据 -->
    <update id="updateStudentInfo" parameterType="com.blen.student_manage_system.domain.StudentInfo">
        UPDATE student_info SET student_info.s_name = #{s_name}, student_info.s_sex = #{s_sex},
        student_info.s_age = #{s_age}, student_info.classname = #{classname} WHERE student_info.s_code = #{s_code}
    </update>

    <!-- 查询一条数据 -->
    <select id="getStudentInfo" resultMap="resultMap" parameterType="long">
        SELECT * FROM student_info WHERE s_code = #{s_code}
    </select>

    <resultMap id="resultMap" type="com.blen.student_manage_system.domain.StudentInfo">
      <id column="s_id" jdbcType="BIGINT" property="s_id"/>
      <id column="s_code" jdbcType="BIGINT" property="s_code"/>
      <result column="s_name" jdbcType="VARCHAR" property="s_name"/>
      <result column="s_sex" jdbcType="VARCHAR" property="s_sex"/>
      <result column="s_age" jdbcType="BIGINT" property="s_age"/>
      <result column="classname" jdbcType="VARCHAR" property="classname"/>
    </resultMap>
</mapper>