<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- 将namespace的值设置为DAO类对应的路径 -->
<mapper namespace="com.blen.studentmanagesystem.dao.StudentGradeMapper">

<!-- 增加一条数据 -->
<insert id="addStudentGrade" parameterType="com.blen.studentmanagesystem.domain.StudentGrade" keyColumn="g_id" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO student_grade(s_code,s_name,g_year,g_math,g_english,g_chinese) VALUES( #{code}, #{name}, #{year}, #{math}, #{english},#{chinese})
    </insert>

<!-- 删除一条数据 -->
<delete id="deleteStudentGrade">
        DELETE FROM student_grade WHERE student_grade.s_code = #{code} AND student_grade.g_year = #{year}
    </delete>

<!-- 更新一条数据 -->
<update id="updateStudentGrade" parameterType="com.blen.studentmanagesystem.domain.StudentGrade">
        UPDATE student_grade SET student_grade.g_math = #{math}, student_grade.g_english = #{english},student_grade.g_chinese = #{chinese}
        WHERE student_grade.s_code = #{code} AND student_grade.g_year = #{year}
    </update>

<!-- 查询一条数据 -->
<select id="getStudentGrade" resultMap="resultMap" >
        SELECT * FROM student_grade WHERE student_grade.s_code = #{code} AND student_grade.g_year = #{year}
    </select>

  <resultMap id="resultMap" type="com.blen.studentmanagesystem.domain.StudentGrade">
    <id column="g_id" jdbcType="BIGINT" property="id"/>
    <result column="s_code" jdbcType="BIGINT" property="code"/>
    <result column="s_name" jdbcType="VARCHAR" property="name"/>
    <result column="g_year" jdbcType="BIGINT" property="year"/>
    <result column="g_math" jdbcType="DOUBLE" property="math"/>
    <result column="g_english" jdbcType="DOUBLE" property="english"/>
    <result column="g_chinese" jdbcType="DOUBLE" property="chinese"/>

  </resultMap>

</mapper>